@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --bright-orange: hsl(31, 77%, 52%); /* Bright Orange */
  --dark-cyan: hsl(184, 100%, 22%); /* Dark Cyan */
  --very-dark-cyan: hsl(179, 100%, 13%); /* Very Dark Cyan */
  --text-color: #e4e4e4; /* Default text color, adjust as needed */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.cards {
  width: 65%;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-direction: row;
  gap: 0px;
  margin: auto;
}

#card1 {
  background-color: var(--bright-orange);
  padding: 1rem 2.4rem;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

#card2 {
  background-color: var(--dark-cyan);
  padding: 1rem 2.4rem;
}

#card3 {
  background-color: var(--very-dark-cyan);
  padding: 1rem 2.4rem;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.card {
  color: var(--text-color);
  min-width: 180px;
}

.card > img {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.card > h1 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 36px;
  font-style: normal;
  margin-top: 0;
}

.card > p {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.6rem;
  margin-top: 2.4rem;
}

.card > a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  border: 3px solid var(--text-color);
  border-radius: 6rem;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  padding: 0.4rem 1.2rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

#card1 > a:hover {
  background-color: var(--text-color);
  color: var(--bright-orange);
}
#card2 > a:hover {
  background-color: var(--text-color);
  color: var(--dark-cyan);
}
#card3 > a:hover {
  background-color: var(--text-color);
  color: var(--very-dark-cyan);
}

@media only screen and (max-width: 767px) {
  .cards {
    flex-direction: column;
    margin: 2.4rem;
    width: 80%;
  }

  .card {
    height: 430px;
  }

  #card1 {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 16px;
  }

  #card3 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .card > a {
    margin-top: 1rem;
  }
}
